<br>

<div class="row">
	<div class="col-md-4">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header lll">
			  		<h5 class="card-title lll">Total Patients</h5>
			  	</div>
			  	<div class="card-body lll">
			    	<h3 class="card-title">{{totalpatients}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<!-- <div class="col ">
		<div class="col-md ">
			<div class="card text-center text-white  mb-3 lll" id="orders-delivered ">
			  	<div class="card-header lll">
			  		<h5 class="card-title lll">High Risk Patients</h5>
			  	</div>
			  	<div class="card-body lll">
			    	<h3 class="card-title ">{{tdiagnosis}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3 lll" id="orders-pending">
			  	<div class="card-header lll">
			  		<h5 class="card-title">Low Risk Patients</h5>
			  	</div>
			  	<div class="card-body lll">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div> -->

		
	<div class="col-md-8 ">
		<div class="col-md ">
			<div class="card-body ll">

			{%  include 'accounts/graph1.html' %}

					
		</div>

		</div>
	</div>

	<!-- <div class="col ">
		<div class="col-md ">
			<div class="card text-center text-white  mb-3 lll" id="orders-pending">
			  	<div class="card-header lll">
			  		<h5 class="card-title">Create diagnosis</h5>
			  	</div>
			  	<div class="card-body lll">
			    	<h3 class="card-title"> <a class="btn btn-outline-warning" href="">Diagonise</a></h3>
			  	</div>
			</div>
		</div>
	</div> -->
</div>