{% extends 'accounts/main.html'%}
{% block content %}


<br>

<div class="row">
	<div class="col-md ">
		<div class="card card-body lll">
			<h5>Patient:</h5>
			<h4 id="kkk">{{patients}}</h4>
			<h4 id="kkk">{{request.user }}</h4>

			<hr>
			<!-- <a class="btn btn-outline-warning  btn-sm btn-block" href="">Update Patient</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Patient</a> -->

		</div>
	</div>

	<!-- <div class="col-md " >
		<div class="card card-body lll">
			<h5>Contact Information</h5>
			<hr>
			<p>Email:{{patients.email}} </p>
			<p>Phone:{{patients.phone}} </p>
		</div>
	</div> -->

	<div class="col-md ">
		<div class="card card-body lll">
			<h5>Risk Factors</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{diagnosis_count}}</h1>
		</div>
	</div>
	<div class="col-md-7 " >
		<div class="card card-body lll">
			{%  include 'accounts/customergraph.html' %}
			
	
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body lll">
			<form method="get">

		    <!-- <button class="btn btn-primary" type="submit">Search</button> -->
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body lll">
			<table class="table table-sm lll">
				<tr>
					<th>Risk factor</th>
					<th>Risk weight</th>
					<th>Date Diagonised</th>
					<th>Status</th>
					<!-- <th>Update</th>
					<th>Remove</th> -->
				</tr>
				{% for i in diagnosis %}

				<tr>
					<td>{{i.riskfactor}}</td>
					<td>{{i.riskfactor.risk_weight}}</td>
					<td>{{i.date_diagonised}}</td>
					<td>{{i.status}}</td>
					<!-- <td><a class="btn btn-outline-warning" href="">Update</a></td>
					<td><a class="btn btn-outline-danger" href="">Remove</a></td> -->




				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}